* {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
}



ul{
    list-style: none;

}

a{
    text-decoration: none;
    color: #ffffff;
    transition: 0.4s;
}

a:hover{
    color: #e53939;
}

#navbar {
    padding: 1rem 1.5rem;
    background-color: black;
    border-bottom: 1px solid white;
}

#navbar-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    
}

#nav-links{
    display: flex;
    gap: 1rem;
}

#nav-links ul li a {
    text-decoration: none;
}

#navbar-inner img {
    width: 90px;
}

/* container do corpo */


#container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
}

.text-left,
.text-right {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    width: 30%;
}

.txt1,
.txt2 {
    cursor: pointer;
    transition: 0.4s;
}

.txt1:hover {
    color: #e53939;
}

.txt2:hover {
    color: #e53939;
}

.text-left,
.text-right, h2 p {
    text-align: center;
    justify-content: center;
}

#p1 {
    font-size: 20px;
}

#p2 {
    font-size: 20px;
    font-weight: bold;
}

.center {
    flex: 1;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#minha-foto {
    max-width: 60%;
    height: auto;
    border-radius: 50%;
    margin-top: 10px;
}

.center img {
    max-width: 6%;
    height: auto;
    border-radius: 10%;
    margin-top: 10px;
}

.center h2 {
    text-align: center;
    color: #e53939;
}

/* Projetos */

#projetos {
    text-align: center;
    margin-top: 2rem;
    border-bottom: 1px solid;
}

#projetos h2 {
    color: #e53939;
}

.project-exhibition {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.project-card {
    border: 2px solid #ccc;
    border-radius: 8px;
    max-width: 300px;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s, border-color 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.project-card:hover {
    transform: translateY(-10px);
    border-color: #e53939;
}

.project-card img {
    max-width: 100%;
    border-radius: 8px;
}

.project-card h3 {
    margin: 10px 0;
    font-size: 1.5em;
}

.project-card p {
    font-size: 1rem;
    color: #666;
}

.project-card a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #e53939;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: 0.3s;
}

.project-card a:hover {
    background-color: #e26565;
}

#contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

#contato h1 {
    color: #e53939;
}

.icones {
    text-align: center;
    padding: 2rem;
}

.icones ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
   
}

.icones li {
    margin: 0 10px;
}

.icones a {
    text-decoration: none;
}

.hidden {
    display: none;
}




/* Responsividade para telas menores */
@media (max-width: 768px) {
    #container {
        flex-direction: column;
        align-items: stretch; 
    }
    .center {
        order: -1; 
    }
    .text-left, .text-right {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 480px) {

}