* {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
}

body {
    height: 10000px;
}

ul{
    list-style: none;

}

a{
    text-decoration: none;
    color: #ffffff;
    transition: 0.4s;
}

a:hover{
    color: #e53939;
}

#navbar {
    padding: 1rem 1.5rem;
    background-color: black;
    border-bottom: 1px solid white;
}

#navbar-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    
}

#nav-links{
    display: flex;
    gap: 1rem;
}

#nav-links ul li a {
    text-decoration: none;
}

#navbar-inner img {
    width: 90px;
}

/* container do corpo */


.container {
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid white;
}

.text-left,
.text-right {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

.text-left,
.text-right, h2 p {
    text-align: center;
    justify-content: center;
}

.center {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.center img {
    max-width: 80%;
    height: auto;
    border-radius: 50%;
    margin-top: 10px;
}

.center h2 {
    text-align: center;
    color: #e53939;
}

/* Parte do hobby */

#titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e53939;
    margin-top: 0.5rem;
}

.hobby {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    padding: 10px;
    margin-top: 1rem;
    margin-left: 3.1rem;
    border: 1px solid white;
    
}

.gallery-item {
    text-align: center;
    margin: 0 10px;
    
}

.gallery-item img {
    width: 18rem;
    height: auto;
}

.gallery-item h3 {
    margin: 10px 0;
}

.motivacoes {
    margin-top: 2.7rem;

}

/* Projetos */

.projetos {
    text-align: center;
    margin-top: 2rem;
}

.projetos h2 {
    color: #e53939;
}

.project-exhibition {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.project-card {
    border: 2px solid #ccc;
    border-radius: 8px;
    max-width: 300px;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s, border-color 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.project-card:hover {
    transform: translateY(-10px);
    border-color: #e53939;
}

.project-card img {
    max-width: 100%;
    border-radius: 8px;
}

.project-card h3 {
    margin: 10px 0;
    font-size: 1.5em;
}

.project-card p {
    font-size: 1em;
    color: #666;
}

.project-card a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #e53939;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.project-card a:hover {
    background-color: #e26565;
}